body {
  background-image: url('../assets/images/woodgrain.jpg');
  background-size: cover;
  width: 1000px;
  height: 668px;
  
}
#imageDump {
  display: none;
}
.container {
  background-color: rgb(221, 199, 138);
  text-align: center;
  border-color: rgba(248, 183, 3, 0.13);
  border-style: groove;
  border-radius: 5;
  border-width: 20px;
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Berkshire Swash', cursive;

;}
#yes {
  text-align: right;
  margin-right: 50px;
  display: none;
}
#text1, #text2, #text3 {
  display: none;
}
